
/* font-family: Abel*/
@font-face{
    font-family: Abel;
    src: url(../fonts/Abel/Abel-Regular.ttf)
}

/* font-family: Anton*/
@font-face{
    font-family: Anton;
    src: url(../fonts/Anton/Anton-Regular.ttf)
}

/* font-family: Lexend_Deca*/
@font-face{
    font-family: Lexend_Deca;
    src: url(../fonts/Lexend_Deca/LexendDeca-VariableFont_wght.ttf)
}

/* font-family: PT_Sans_Narrow*/
@font-face{
    font-family: PT_Sans_Narrow;
    src: url(../fonts/PT_Sans_Narrow/PTSansNarrow-Regular.ttf)
}